<div class="background p-4">
  <section>
    <h2 class="justify-content-center">
      {{title()}}
    </h2>
    <p-progressBar [value]="statusBarPorcent" />
    {{this.statusBarPorcent}}
    
    <input type="text" pInputText [(ngModel)]="item" />
    <p-button
      (onClick)="addTask()"
      label="Agregar"></p-button>
    @for (item of list(); track item) {
      <app-to-do
        (updateList)="updateStatusBar()"
        [itemTask]="item"/>
      } @empty {
      <li>There are no items.</li>
      }

  </section>
</div>