.fake-card{
    padding: 3rem;
    height: 10rem;
    width: 20rem;
    border-width: 1px;
    border-color: rgb(121, 114, 110);
    background-color: rgb(159, 152, 147);
    border-radius: 16px;
    border-style: solid;
}

.header-black{
    width: 100%;
    padding: 0.05rem;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 10px;
}

i{
    color: rgba(215, 215, 215, 0.788);
}