<main class="main">
  <div class="flex flex-row justify-content-center">
    <section class="flex flex-row header-black py-2" style="justify-content: center !important;">
      @if(editTitle){
        <div class="flex flex-row justify-content-start">
          <input-text
            class="mb-2 w-full"
            [label]="'Agregar Titulo'"
            [buttonLabel]="'ok'"
            (saveValue)="saveNewTitle($event)"
          />
        </div>
      }
      @else {
        <h1
          (click)="editTitle = true"
          class="flex flex-row justify-content-around">
          {{title}}
        </h1>
      }
  
      <i 
        (click)="download()"
        class="pi pi-arrow-circle-down interctive"
        style="margin-left: 1rem; margin-top:1.5rem; font-size: 1.3rem">
      </i>
      
      <input
        style="display: none;"
        id="upload-photo"
        type="file"
        accept=".txt"
        (change)="cargarArchivo($event)" />
      <label for="upload-photo">
        <i   
          class="pi pi-arrow-circle-up interctive"
          style="margin-left: 1rem; margin-top:1.5rem; font-size: 1.3rem">
        </i>
      </label>
    </section>
  </div>


  

  <div class="wrapper gap-3 mx-3 mb-3">
    @for (item of memoryLength; track item) {
      <app-list-to-do
        [slot]="item"
        [isFavouriteList]="slotFavourite"
      />  
    }   
  </div>
  @if(!loadingModal){
    <app-modal-edit-task/>
    <app-modal-info
      [showModal]="modalInfoIsOpen"
      (closeModalEmit)="modalInfoIsOpen = ''"/>

    <app-modal-delete-list/>
  }

  
</main>

<router-outlet />
