.header-black{
    width: 100%;
    padding: 0.05rem;
    margin-bottom: 1rem;
    background-color: #330C18;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 10px;
}

i{
    color: rgba(215, 215, 215, 0.788);
}