<main class="main">
  <h1 class="flex flex-row justify-content-around">
    To Do List app
  </h1>

  <div class="flex flex-row">
    @for (item of [0,1,2,3,4,5,6,7,8,9,10]; track item) {
      <app-listo-to-do
        [slot]="item"
        [title]="'Casa'"
      />  
    }   
  </div>
  

    <p-dialog 
      header="¿Quiere borrar la tarea?:"
      [closable]="false"
      [draggable]="false"
      [(visible)]="showModalDelete"
      [style]="{ width: '25rem' }">

      <div>
        <div class="flex flex-row gap-3">
          <p-button
            class="p-button-secondary flex flex-row"
            (onClick)="closeDeleteModal()"
            label="Cancel"
          ></p-button>
          <p-button
            class="flex flex-row"
            (onClick)="deleteTask()"
            label="Delete"
          ></p-button>
        </div>
      </div>
  </p-dialog>
  
</main>
<router-outlet />
