<main class="main">
  <section class="header-black py-2">
    @if(editTitle){
      <div class="flex flex-row justify-content-center">
        <input-text
          class="mb-2 w-4"
          [label]="'Agregar Titulo'"
          [buttonLabel]="'ok'"
          (saveValue)="saveNewTitle($event)"
        />
      </div>
    }
    @else {
      <h1
        (click)="editTitle = true"
        class="flex flex-row justify-content-around">
        {{title}}
      </h1>
    }
  </section>

  <div class="wrapper gap-3 mx-3 mb-3">
      @for (item of memoryLength; track item) {
        @if(loadingTaskId !== item){
          <app-list-to-do
            [slot]="item"
          />  
        }
        @else{
          <app-list-to-do
          [slot]="item"
        />  
        }
      }   
  </div>
  @if(!loadingModal){
    <app-modal-edit-task/>
  }
</main>
<router-outlet />
