:host {
  display: block;
}

.width-96{
  width: 96%;
}

.card{
  border-width: 1px;
  border-color: rgb(121, 114, 110);
  background-color: rgb(159, 152, 147);
  border-radius: 16px;
  border-style: solid;
}

p-card{
  background-color: aqua !important;
}

.icon {
  font-size: 3rem;
  color: rgb(221, 214, 206);
  transition: 0.3s;
}

.icon:hover {
  font-size: 5rem;
  color: rgba(173, 172, 170, 0.697);
}

.margin-top-custom{
  margin-top: 1.2rem;
}