<div class="flex card p-3 ">
  <section>
    <div class="flex mb-3">
      @if(title === "" || editTitle){
        <div class="flex flex-row justify-content-between">
          <input 
            type="text"
            pInputText
            [(ngModel)]="titleInput"/>
          <p-button
            label="Nombrar"
            (onClick)="saveNewTitle()"
          />
        </div>
      }@else{
        <h2 
          (click)="editTitle = true"
          class="justify-content-center">
          {{title}}
        </h2>
      }
    </div>


      <p-progressBar 
      [showValue]="true"
      class="my-3"
      [value]="statusBarPorcent || 0" />
    
    <div class="flex my-3">
      <input 
        type="text"
        pInputText
        [(ngModel)]="item"/>
      <p-button
        class="flex flex-row"
        (onClick)="addTask()"
        label="Agregar"
        [disabled]="item.length === 0"
        ></p-button>
    </div>
    @for (item of listTask; track item) {
      <app-to-do
        [slot]="this.slot()" 
        style="display: block;"
        (updateList)="updateStatusBar()"
        [itemTask]="item"/>
      } @empty {
      <li>There are no items.</li>
      }
  </section>
</div>