<p-dialog
  [visible]="showModal"
  [closable]="false"
  [draggable]="false"
  >
    <ng-template pTemplate="header">
      <div class="w-full">
       Borrar Lista
      </div> 
    </ng-template>
    <ng-template pTemplate="content">
      <p>¿Quiere borrar la datos de esta la lista?</p>  
      <div class="flex felx-row justify-content-end">
        <div class="flex flex-row gap-2">
          <p-button
            class="flex flex-row danger"
            (onClick)="closeModal()"
            label="close"
            severity="primary"
          />

          <p-button
            class="flex flex-row danger"
            (onClick)="deleteList()"
            label="Delete"
            severity="danger"
          />
        </div>
      </div>
    </ng-template>
</p-dialog>